#myCanvas {
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url("../img/000/bg2.png");
    background-size: cover;
    transform: translateX(-50%);
}

#play {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 50px;
}
#htmlturn {
    position: absolute;
    top: 5%;
}
